name: anythingllm

networks:
  anything-llm:
    driver: bridge

services:
  anything-llm:
    container_name: anythingllm
    image: azu12138/promptx-agenticrag:latest
    cap_add:
      - SYS_ADMIN
    volumes:
      - "./.env:/app/server/.env"
      - "../server/storage:/app/server/storage"
      - "../collector/hotdir/:/app/collector/hotdir"
      - "../collector/outputs/:/app/collector/outputs"
      - "./mcp_servers.json:/app/server/storage/plugins/anythingllm_mcp_servers.json"
    user: "${UID:-1000}:${GID:-1000}"
    ports:
      - "3001:3001"
    env_file:
      - .env
    networks:
      - anything-llm
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - promptx
    restart: unless-stopped

  promptx:
    container_name: promptx
    image: deepracticexs/promptx:latest
    ports:
      - "5203:5203"
    volumes:
      - "./.promptx:/root/.promptx"
    networks:
      - anything-llm
    restart: unless-stopped
    environment:
      - NODE_ENV=production
